{% load static %}

<link rel="stylesheet" href="{% static 'css/sign.css'%}">

<style>
    li {
        display: none;
    }
</style>

<body>
    <div class="site login-show" id="page">
        <div class="container">
            <div class="wrapper">
                <!-- Sign in form-->
                <div class="login">
                    <div class="content-heading">
                        <div class="y-style">
                            <div class="logo"><img src="{% static 'images/Logowhite.svg'%}" alt=""></div>
                            <div class="welcome">
                                <h2>Enter New Password</h2>
                            </div>
                        </div>
                    </div>
                    <div class="content-form">
                        <div class="y-style">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <p class="input-field">
                                    {{ form.as_p }}

                                </p>
                                <p><button type="submit">Rest</button></p>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>