{% load static %}
<link rel="stylesheet" href="{% static 'css/sign.css'%}">

<body>
    <div class="site login-show" id="page">
        <div class="container">
            <div class="wrapper">
                <!-- Sign in form-->
                <div class="login">
                    <div class="content-heading">
                        <div class="y-style">
                            <div class="logo"><img src="{% static 'images/Logowhite.svg'%}" alt=""></div>
                            <div class="welcome">
                                <h2>Forgotten your password?<br></h2>
                                <p> Enter your email address below,<br> and we’ll email
                                    instructions for <br>setting a new </p>
                            </div>
                        </div>
                    </div>
                    <div class="content-form">
                        <div class="y-style">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <p class="input-field">
                                    <label for="Email">Email</label>
                                    {{ form.email }}

                                </p>
                                <p><button type="submit">Send-Email</button></p>
                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>