<form method="POST" action="{% url 'payment_view' %}">
    {% csrf_token %}
    
    <label for="full_name">Nom complet:</label>
    <input type="text" id="full_name" name="full_name" value="{{ user.firstname }}" required>
    
    <label for="email">Adresse e-mail:</label>
    <input type="email" id="email" name="email" value="{{ user.email }}" required>
    
    <label for="card_name">Nom sur la carte:</label>
    <input type="text" id="card_name" name="card_name" required>
    
    <label for="card_number">Numéro de carte:</label>
    <input type="text" id="card_number" name="card_number" required>
    
    <label for="expiration_date">Date d'expiration:</label>
    <input type="text" id="expiration_date" name="expiration_date" required>
    
    <label for="security_code">Code de sécurité:</label>
    <input type="text" id="security_code" name="security_code" required>
    
    <button type="submit">Payer</button>
  </form>
  