@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --darkest-bleu: #2C2E30;
    --Future-blue: #038FF4;
    --dark-white: #F0F0F0;
    --dark-grey: #5D5E60;
    --lightest-grey: #BEBEBE;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--darkest-bleu);
    background-color: #efefef;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {

    width: 500px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, .45) 0 25px 20px -20px;
    overflow: hidden;

}

.container li {
    display: none;
}

h4 {
    top: 0;
    font-size: 2em;
    font-weight: 400;
    line-height: 1.2;
    color: var(--Future-blue);
    padding: 10px;

}

a {
    text-decoration: none;
    color: white
}

p {
    text-align: center;
    padding: 10px;
}

form input {
    font-family: inherit;
    width: 100%;
    outline: 0;
    margin: 0 0 20px;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid var(--darkest-bleu);
    transition: 0.6s;

}

.container .btn {
    background-color: #eb3b5a;
    color: white;
    width: 40px;
    margin: 30px 0;
    border: 0;
    line-height: 42px;
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
    transform: all .3s ease-out;
    -webkit-transform: all .3s ease-out;
}

.btn:hover {
    background-color: var(--darkest-bleu);

}

form input:focus~label,
form input:not(:placeholder-shown) input:not(:focus)~label {
    color: #3742fa;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65rem;
    font-weight: 600;
    padding: 0 10px;
    background: #fff;
}

.content-form .y-style .input-field input:valid,
.content-form .y-style .input-field input:focus {
    color: #3742fa;
    border: 2px solid #3742fa;
}

.input-field label {
    position: absolute;
    left: 0;
    padding: 10px;
    transition: 0.6s;
    color: #7f8fa6;
    text-transform: uppercase;
    pointer-events: none;
    transition: 0.6s;
}

.validation {
    background-color: #d4f9d4;
    width: 80%;
    height: 200px;
    border-radius: 10px;
}